body
{
    margin:0px;
    padding: 0px;
    border: 0px;
    background-color: steelblue;
}
.header {
    text-align: left;
    /* background: #0a80f1; */
    padding-top: 20px;
    background-image: linear-gradient(steelblue,silver);
}
.header h1 {
    padding-left: 10px;
}
ul {
    position: absolute;
    /* padding: 10px;*/
    top: 0;
    right: 10px;
    margin-top: 10px;
}
li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}

a {
    color:black;
} 
.homepageText {
    position: absolute;
    /*
    margin-right: 1000px;
    margin-left: 30px;
    */
    right: 50%;
    left: 5%;
    top: 5%;
    margin-top: 75px;
    font-size: 24px;
    
}
.buttons {
    position: relative;
    margin-top: 475px;
    top: 80%;
    bottom: 5%;
    margin-left: 200px;
    padding-top: 150px;
}
.bookAppBttn {
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: grey;
    border-radius: 8px;

}
.bookAppBttn:hover {
    background-color: #666;
}

.bookAppBttn:active {
    background-color: #808080;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.servBttn {
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: grey;
    border-radius: 8px;
    margin-left: 20px;
}
.servBttn:hover {
    background-color: #666;
}

.servBttn:active {
    background-color: #808080;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.logo {
    position: absolute;
    left: 65%;
    right: 5%;
    top: 20%;
    bottom: 30%;
}
img[id="indexlogo"] {
    opacity: 0.5;
}
    

    
    
    /*margin-left: 2000px;
    margin-right: 5px;
    margin-top: 30px;*/
    

/*----------------------------------------Services Page---------------------------------------*/

h1.servHeading {
    padding-left: 20px;
    font-size: 60px;
    font-stretch: wider;
    font-weight: bolder;
 }
.servicesText {
    text-align: left;
    font-size: 24px;
    padding-left: 20px;
    margin-left: 10px;
}
.servicesText p{
    font-weight: 600;
}
ul.services {
    color: black;
    list-style-type: disc;
    list-style-position: outside;
    /*margin-top: 200px;
    margin-right: 50px;
    margin-left: 120px;*/

}
ul.services li {
    display: list-item;
    list-style-type: disc;
    color: black;
    font-size: 24px;
    padding: 3px;
}
.servicesList {
    position: absolute;
    left:5%;
    top: 26%;
    bottom: 40%;
    right: 57%;

}
.buttons2 {
    position: relative;
    margin-top: 500px;
    top: 83%;
    bottom: 5%;
    margin-left: 200px;
    padding-top: 150px;
}
/*-----------------------------Request Services page----------------------------*/
.appForm {
    margin-left: 100px;
    padding-top: 30px;
}
textarea[id="addnotes"]{
    resize: none;
}
input[id=submit]{
    font-size: 18px;
}
.instructions{
    position: absolute;
    top: 10%;
    bottom: 40%;
    left: 55%;
    right: 1%;
    margin-right: 50px;
    padding: 10px;
}
ol[id="inst"]{
    list-style-type:decimal;
    list-style-position: inside;
    
}
li[id="inst"] {
    list-style-type: decimal;
    list-style-position: inside;
    display: list-item;
    padding: 10px;
}
/* CSS for the styled button */
.styled-button {
    background-color: #808080; /* light grey */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

    /* Hover effect */
.styled-button:hover {
background-color: #666; /* Darker grey */
}

    /* Active effect */
.styled-button:active {
background-color: silver;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
/*------------------------------Contact Us Page-----------------------------------*/
.contactUsText{
    margin-left: 100px;
    width: 50%;
    padding: 10px;
    text-align: center;
}
/*------------------------------Dashboard-----------------------------------*/
#app-table {
    margin-left: 80%;
    margin-right: 80%;
    width: 50%; /* Adjust this value to your preference */
}
.serviceKey {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
    max-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*
h3 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.5;
} */